<main>
  <section class="search-block">
    <div class="search-header">
      <app-searchbar placeholder="Type something..." />
      <select app-select></select>
    </div>
    <div class="pages-wrapper">
      <app-song-pages
        [currentPage]="(page | async)!"
        [totalPages]="totalPages"
        (pageChanged)="pageChanged($event)"
      />
      <div class="total-stats-wrapper">
        <p class="total-stats">
          Showing {{ pageSize }} items of {{ totalCount }}
        </p>
      </div>
    </div>
    <div class="song-list-wrapper">
      <ul class="song-list">
        @for (song of songs | async; track song.id;) {
        <li app-min-song [song]="song" [isOdd]="$odd"></li>
        }
      </ul>
    </div>
    <div class="pages-wrapper">
      <app-song-pages
        [currentPage]="(page | async)!"
        [totalPages]="totalPages"
        (pageChanged)="pageChanged($event)"
      />
    </div>
  </section>
</main>
