:host {
  width: 70%;
  min-width: 0;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.song-pv-wrapper {
  flex: 1;
  max-width: 640px;
  max-height: 459px;
  width: 100%;
  display: flex;
  position: relative;
}

.pv-image {
  object-fit: contain;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.pv-player {
  height: 100%;
  width: 100%;
}

.song-info-wrapper {
  display: flex;
  gap: 1%;
  flex-direction: row;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  gap: 20px;
}

.song-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  max-width: 60%;
}

.song-artist {
  font-size: 18px;
  max-width: 39%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.play-btn {
  background-color: #ffffff91;
  transition: background-color 0.4s, filter 0.2s, box-shadow 0.6s;
  display: flex;
  align-items: center;
  border-radius: 30px;
  border: 0;
  position: absolute;
  max-width: 60px;
  bottom: 5%;
  left: 5%;
  box-shadow: 0px 0px 20px #fff;
}

.btn-img {
  max-width: 100%;
}

.play-btn:hover {
  background-color: #ffb36691;
  box-shadow: 0px 0px 20px #ffb366;
}

.play-btn:active {
  filter: brightness(90%);
}

.player-placeholder {
  display: none;
}

@media screen and (max-width: 1290px) {
  :host {
    width: 100%;
  }
}
