<div class="content-wrapper">
  <small class="copyright">
    VocaMusic is a learning local project.<br />
    All information taken from
    <a app-link href="https://vocadb.net/">VocaDB</a>.
  </small>
  <address class="address">
    2972 Westheimer Rd. Santa Ana, Illinois 85486
  </address>
  <div class="phone-wrapper">
    <p class="contact-title">Phone:</p>
    <a app-link class="phone-number" href="tel:+375333450292">+375333450292</a>
  </div>
  <div class="email-wrapper">
    <p class="contact-title">Email:</p>
    <a app-link class="email" href="mailto:meleshkokirill004@gmail.com">
      meleshkokirill004&#64;gmail.com
    </a>
  </div>
  <app-logo class="logo" [isDark]="true" />
  <a class="vocadb-logo-wrapper" href="https://vocadb.net/">
    <img src="vocadbLogo.svg" />
  </a>
</div>
