:host {
  display: flex;
  max-height: 600px;
  height: 600px;
  min-height: 600px;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

.title {
  font-size: 25px;
  color: #000;
}

.pv-wrapper {
  max-height: 550px;
  height: 550px;
  width: 100%;
  max-width: 1000px;
  background-color: #1c0c31;

  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px;
  gap: 40px;
  border-radius: 10px;
  flex: 1;
}

.recent-songs-wrapper {
  min-width: 270px;
  width: 25%;
  max-width: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.recents-songs {
  list-style: none;
  height: 100%;
  max-height: 460px;
  overflow-y: scroll;
  min-width: 100%;
  max-width: 100%;
}

.load-btn {
  max-width: 100%;
  border-radius: 10px;
}

.pv-player-wrapper {
  width: 70%;
  min-width: 0;
  height: 510px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

@media screen and (max-width: 1290px) {
  .recent-songs-wrapper {
    display: none;
  }
  .pv-player-wrapper {
    width: 100%;
  }
}

.song-info-wrapper {
  display: flex;
  gap: 1%;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  gap: 20px;
}

.song-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 25px;
  max-width: 60%;
}

.song-artist {
  font-size: 18px;
  flex: 1 1 39%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
