<h2 class="title">Recent songs</h2>
<div class="pv-wrapper">
  <app-pv-player [currentSong]="currentSong" />
  <aside class="recent-songs-wrapper">
    <ul class="recents-songs">
      @for (song of songs | async; track song.id) {
      <li
        app-recent-song
        class="recent-song-wrapper"
        [song]="song"
        (onClick)="setCurrent($event)"
        [last]="$last"
      ></li>
      }
    </ul>
    <button
      class="load-btn"
      app-button
      (click)="loadMore()"
      type="button"
      [disabled]="isLoading"
    >
      {{ isLoading ? "Loading..." : "Load more" }}
    </button>
  </aside>
</div>
