<main>
  <section class="heading-section">
    <h1>Welcome to the VocaMusic!</h1>
    <p>
      The main purpose of the website is to keep in touch with vocaloid music
      from producers all over the world. Explore extensive library of tracks
      featuring your favorite virtual singers like Hatsune Miku, Kagamine Rin,
      and many more. From electrifying electro-pop to heartwarming ballads,
      there's a Vocaloid song to suit every taste.
    </p>
    <p>
      All information about songs taken from
      <a app-link href="https://vocadb.net/">VocaDB API</a>
    </p>
  </section>
  <article app-recent-songs></article>
</main>
